
@{
    ViewBag.Title = "Home";
}

<h1>Welcome to Sudoku Online!</h1>

<div align="center">
    <h3>
        <a href="~/Login">Have an account? Log in here!</a>
    </h3>
</div>

<div align="center">
    <h3>
        <a href="~/Register">Don't have an account? Register here!</a>
    </h3>
</div>

